<div class="container text-center lg:text-left flex flex-col lg:flex-row items-center pl-40">
  <div class="flex-1">
  <h2 class="font-bold text-4xl mb-2">ana.rb</h2>
    <p class="text-2xl mb-2">
      A blog about web development mainly focused on ruby and rails.
    </p>
    <p class="text-2xl mb-8">
    </p>
  </div>
  <div class="md:px-32">
  </div>
</div>
