<div class="container text-center flex flex-col lg:flex-row items-center px-40 w-full mx-auto">
  <h2 class="font-bold text-4xl mb-2">
    A blog about web development mainly focused on ruby and rails.
  </h2>
</div>
