<div class="container text-center flex flex-col lg:flex-row items-center pl-40">
  <div class="flex-1">
    <h2 class="font-bold text-4xl mb-2">
      A blog about web development mainly focused on ruby and rails.
    </h2>
  </div>
</div>
