<footer class="px-10 mt-40 font-bold lg:px-5 bg-gradient-to-r from-red-500 to-blue-500">
  <div class="py-16 lg:m-auto lg:w-2/3">
    <div class="text-5xl text-white lg:text-xl">
      <ul class="tracking-tight text-left">
        <li class="inline">
          <a href="https://twitter.com/anakbns", target="_blank", class="pr-10">Twitter</a>
        </li>
        <li class="inline">
          <a href="https://github.com/anansilva", target="_blank", class="pr-10">GitHub</a>
        </li>
        <li class="inline">
          <a href="https://linkedin.com/anans", target="_blank", class="pr-10">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
