<footer class='flex flex-wrap mx-auto py-10 pb-5 text-gray-700 text-semibold justify-center'>
  <div class='flex flex-row justify-start'>
    <a href="https://twitter.com/anakbns">
      <i class="fab fa-twitter text-2xl pr-6"></i>
    </a>
    <a href="https://github.com/anansilva">
      <i class="fab fa-github text-2xl pr-10"></i>
    </a>
  </div>
</footer>
