<footer class="mt-40 font-semibold bg-gradient-to-r from-red-500 to-blue-500">
  <div class="py-16 mx-8 lg:m-auto lg:w-2/3">
    <div class="text-lg text-white sm:text-xl">
      <ul class="tracking-tight">
        <li class="inline">
          <a href="https://twitter.com/akbns" class="pr-4 lg:px-6">Twitter</a>
        </li>
        <li class="inline">
          <a href="https://github.com/anansilva" class="pr-4 lg:px-">GitHub</a>
        </li>
        <li class="inline">
          <a href="https://linkedin.com/ananunesdasilva" class="pr-4 lg:px-">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
