<footer class='mx-auto pt-24 pb-8 text-gray-700 text-semibold justify-center'>
  <div class='flex flex-row pb-6'>
    <a href="https://twitter.com/anakbns">
      <i class="fab fa-twitter text-4xl sm:px-8 hover:text-gray-800"></i>
    </a>
    <a href="https://github.com/anansilva">
      <i class="fab fa-github text-4xl sm:px-8 hover:text-gray-800"></i>
    </a>
  </div>
  <p class="text-xs text-center">© Ana Nunes da Silva 2020</p>
</footer>
