<footer class='flex flex-wrap mx-auto pt-24 pb-8 text-gray-700 text-semibold justify-center'>
  <div class='flex flex-row justify-start'>
    <a href="https://twitter.com/anakbns">
      <i class="fab fa-twitter text-4xl sm:px-8"></i>
    </a>
    <a href="https://github.com/anansilva">
      <i class="fab fa-github text-4xl sm:px-8"></i>
    </a>
  </div>
</footer>
