<footer class="px-10 font-semibold lg:px-5 bg-gradient-to-r from-red-500 to-indigo-700 dark:from-indigo-700 dark:to-blue-900">

  <div class="py-16 lg:m-auto lg:w-3/4">
    <div class="text-5xl text-white lg:text-xl">
      <ul class="tracking-tight text-left">
        <li class="inline">
          <a href="https://twitter.com/anakbns" target="_blank" class="pr-10">Twitter</a>
        </li>
        <li class="inline">
          <a href="https://github.com/anansilva" target="_blank" class="pr-10">GitHub</a>
        </li>
        <li class="inline">
          <a href="https://linkedin.com/in/anans" target="_blank" class="pr-10">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
