<footer class="px-10 font-semibold lg:px-5 bg-gradient-to-r from-red-500 to-indigo-700 dark:from-indigo-700 dark:to-blue-900">
  <div class="py-16 text-5xl text-white lg:m-auto lg:w-3/4 lg:text-xl">
    <ul class="tracking-tight text-center">
      <li class="inline">
        <a href="https://twitter.com/anakbns" target="_blank" class="pr-20 md:pr-15">Twitter</a>
      </li>
      <li class="inline">
        <a href="https://github.com/anansilva" target="_blank" class="pr-20 md:pr-15">GitHub</a>
      </li>
      <li class="inline">
        <a href="https://linkedin.com/in/anans" target="_blank" class="pr-20 md:pr-15">LinkedIn</a>
      </li>
      <li class="inline">
        <a href="<%= rss_feed_url(format: 'rss') %>" target="_blank">RSS</a>
      </li>
    </ul>
  </div>
</footer>
