<title><%= yield(:title).presence || "Web development personal blog" %></title>
<meta name="keywords" content="<%= yield(:meta_keywords).presence || "web development, ruby, rails, tools, tdd, rspec" %>" />
<meta name="description" content="<%= yield(:meta_description).presence || "A personal blog on web development mainly focused on ruby and rails" %>" />
<meta name="author" content="<%= "Ana Nunes da Silva" %>" />
