<nav class="container mx-auto pt-4 pb-4 flex flex-wrap items-center justify-between">
  <div>
    <%= link_to 'ana nunes da silva', all_posts, method: :get, class: 'block text-4xl px-4 font-semibold'%>
    <p class="px-4 text-gray-700 text-normal">thoughts and learnings on software development</p>
  </div>
  <div class="hidden md:flex flex-col md:flex-row flex-1 md:items-center md:justify-end">
    <%# <%= link_to 'About', about_path, method: :get, class: 'block py-3 md:py-0 px-4 uppercase tracking-wide text-sm' %1> %>
    <% if current_user %>
      <%= link_to 'New Post', admin_new_post_path, method: :post, class: 'block py-3 md:py-0 px-4 uppercase tracking-wide text-sm' %>
      <%= link_to 'Logout', admin_logout_path, method: :delete, class: 'block py-3 md:py-0 px-4 uppercase tracking-wide text-sm' %>
    <% end %>
  </div>
</nav>
