<%= link_to 'ana.rb', posts_path, method: :get,
    class: 'h1 block text-xl px-4 cursor-pointer'%>
<div class="hidden md:flex flex-col md:flex-row flex-1 md:items-center md:justify-end">
  <%= link_to 'About', '', method: :get, class: 'block py-3 md:py-0 px-4 uppercase tracking-wide text-sm' %>
</div>
