<div data-controller="subscription" class="pb-10 text-center"  %>
  <h2 class="mb-2 text-5xl tracking-wide lg:text-2xl">Subscribe below to get future blog posts</h2>
  <%= form_with url: api_new_subscription_url,
    data: { action: "ajax:success->subscription#onSuccess ajax:error->subscription#onError" },
    method: :post do |form| %>
    <div data-subscription-target="email">
      <%= form.email_field :email, placeholder: "Enter your email",
        class: "w-1/3 py-1 px-2 m-2 border rounded focus:outline-none focus:border-indigo-500 text-gray-900 dark:text-gray-300 dark:bg-gray-900" %>
      <%= form.submit 'subscribe', id: "newsletter-btn",
        class: "cursor-pointer py-1 px-2 font-bold rounded focus:outline-none text-gray-100 border-gray-300 bg-teal-600" %>
    </div>
  <% end %>
</div>
