<div class="sm:w-full md:w-full lg:w-1/3 xl:1/3 mb-4 px-5">
  <article class="overflow-hidden">
    <img class="w-full cursor-pointer" src="assets/abstract-done.png" alt="Dummy Image">
    <div class="px-6 py-4">
      <h1 class="text-xl tracking-wide hover:underline mb-1">
        <%= link_to post.title, post %>
      </h1>
      <p class="text-gray-500 text-xs font-thin mb-2">
        <%= post.created_at.strftime('%b, %Y') %>
      <p>
      <p class="text-gray-700 text-sm font-thin mb-4">
        <%= post.intro %>
      </p>
      <%= link_to 'Keep reading >>', post, class: "hover:underline text-sm uppercase text-indigo-500"%>
    </div>
  </article>
</div>
