<div class="w-full sm:w-full md:w-full lg:w-1/4 xl:1/4 mb-4 mx-6">
  <article class="overflow-hidden">
    <img class="w-full cursor-pointer" src="assets/abstract-done.png" alt="Dummy Image">
    <div class="px-6 py-4">
      <h1 class="font-bold text-xl mb-2 cursor-pointer hover:underline">
        <%= post.title %>
      </h1>
      <p class="text-gray-700 text-base">
        <%= post.intro %>
      </p>
    </div>
  </article>
</div>
