<div class="flex flex-wrap pb-4 py-10 justify-center w-full mx-auto font-normal text-base text-gray-500 tracking-wide">
  <%= link_to posts_path, class: "block px-4 uppercase #{all_tag}" do %>
    <%= 'All' =%>
  <% end %>
  <% Tag.all.each do |tag| %>
    <%= link_to posts_path(tag: tag.name), class: "block px-4 uppercase #{active_tag(tag.name)} #{hover_tag(tag.name)}" do %>
      <%= tag.name =%>
    <% end %>
  <% end %>
</div>
