<div class="flex h-screen">
  <div class="p-12 m-auto lg:m-auto lg:w-2/3">
    <div>
      <h1 class="mb-4 font-extrabold tracking-tighter text-transparent lg:text-5xl text-8xl bg-clip-text bg-gradient-to-r from-red-500 to-blue-500">
        <span>Ana Nunes da Silva</span>
      </h1>

      <div class="text-5xl font-light leading-loose text-gray-800 lg:text-xl">
        <strong class="font-bold text-gray-800">I'm a web developer</strong>
        working mostly with ruby on rails.
        I'm currently helping companies build their online training academies at
          <a href="https://trybugle.com" class="underline">bugle</a>.
        Living in Lisbon, Portugal.
      </div>
    </div>

    <div class="my-8 text-right">
      <ul class="text-6xl font-bold tracking-tight lg:text-xl">
        <li class="inline">
          <a href="/about" class="md:pr-8 hover:underline">About</a>
        </li>
        <li class="inline hover:underline">
          <a href="/posts">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
