<div class='mx-auto sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2'>
  <%= image_tag 'ginger-cat-728.png', alt: 'something went wrong', class: 'block' %>
  <h1 class='block text-center text-2xl font-extrabold'>Oops... Something went wrong</h1>
</div>
