<div class='mx-auto sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2'>
  <%= image_tag 'ginger-cat-742.png', alt: '404 image something went wrong', class: 'block' %>
  <h1 class='block text-center text-4xl'>404</h1>
  <h2 class='block text-center text-2xl'>Nothing here</h2>
</div>

