<div class='mx-auto sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2'>
  <%= image_tag 'pixeltrue-error.png', alt: '404 page not found', class: 'block' %>
  <h1 class='block text-center text-4xl font-extrabold'>404</h1>
  <h2 class='block text-center text-2xl font-extrabold'>Nothing here</h2>
  <p class='block text-center text-xs'>Illustration by Pixeltrue</p>
</div>

