<div class='mx-auto sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2'>
  <%= image_tag 'ginger-cat-754.png', alt: 'unnaceptable', class: 'block' %>
  <h1 class='block text-center text-2xl font-extrabold'>Nop</h1>
</div>
