<% content_for :meta_title, 'Blog Posts' + " #{@tag}" %>
<% content_for :meta_description, 'thoughts and learnings on software development' %>

<div class="pb-4 lg:m-auto lg:w-3/4">
  <h1 class="px-10 my-8 font-bold leading-tight tracking-tighter text-black dark:text-gray-50 lg:px-0 text-8xl lg:text-4xl">
    Posts <%= "tagged: #{@tag}" if @tag %>
  </h1>
  <div class="flex flex-wrap justify-start w-full mx-auto mt-10 lg:container">
    <% @posts.each do |post| %>
      <%= render partial: 'shared/post_card', locals: { post: post } %>
    <% end %>
  </div>
</div>
