<% content_for :meta_title, 'Blog Posts' + " #{@tag}" %>
<% content_for :meta_description, 'thoughts and learnings on software development' %>

<div class="px-10 pb-4 m-auto mt-16 lg:mt-8 lg:px-0 lg:w-3/4 leading-10">

  <%= render partial: 'shared/tags' %>

  <div class="flex flex-wrap justify-start w-full mx-auto mt-10 lg:container">

    <% @posts.each do |post| %>
      <%= render partial: 'shared/post_card', locals: { post: post } %>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
