<div class="container flex flex-col lg:flex-row items-center lg:px-56 sm:px-20 w-full mx-auto">
  <h2 class="text-xl text-justify sm:break-words sm:leading-tight md:leading-normal lg:leading-relaxed xl:leading-loose">
    Hi, I'm Ana.
    <br>
    I'm a programmer mainly working on web backends in Ruby.
    <br>
    I love testing first, refactoring and performant code.
    <br>
    Currently, I'm helping companies build their video training academies at <a class="underline" href="https://www.trybugle.com/">bugle</a>.
    <br>
    When I'm not coding, you can find me strolling in Lisbon or sitting in a nearby cinema.
  </h2>
</div>
<div class="container flex flex-col lg:flex-row items-center lg:px-56 sm:px-20 w-full mx-auto mt-20">
  <a href="https://twitter.com/anakbns"><i class="fab fa-twitter text-2xl pr-8"></i></a>
  <a href="https://github.com/anansilva"><i class="fab fa-github text-2xl pr-8"></i></a>
</div>
