<div class="container flex flex-col lg:flex-row items-center lg:px-56 sm:px-20 w-full mx-auto pt-10">
  <div class="sm:break-words sm:leading-tight md:leading-normal lg:leading-loose xl:leading-loose">
    <h1 class="text-xl font-bold">Hi, I'm Ana.</h1>
    <p>I'm a programmer mainly working with Ruby on Rails. I love TDD, clean and performant code.</p>
    <p>Currently, I'm helping companies build their video training academies at <a class="underline" href="https://www.trybugle.com/">bugle</a>.</p>
    <p>When I'm not coding, you can find me strolling in Lisbon or sitting in a nearby cinema.</p>
  </div>
</div>
<ul class="container flex flex-col lg:flex-row items-center lg:px-56 sm:px-20 w-full mx-auto mt-20">
  <li><a href="https://twitter.com/anakbns"><i class="fab fa-twitter text-2xl pr-8"></i></a></li>
  <li><a href="https://github.com/anansilva"><i class="fab fa-github text-2xl pr-8"></i></a></li>
</ul>
