<div class="container flex flex-col lg:flex-row items-center lg:px-56 sm:px-20 w-full mx-auto">
  <h2 class="text-xl text-justify sm:break-words sm:leading-tight md:leading-normal lg:leading-relaxed xl:leading-loose">
    Hi, I'm Ana.
    <br>
    I'm a programmer mainly working on web backends in Ruby.
    <br>
    I love testing first, refactoring and performant code.
    <br>
    Currently I'm working as backend developer at bugle, a B2B video training platform.
    <br>
    When I'm not coding, you can find me strolling in Lisbon or sitting in a nearby cinema.
    <br>
    Online, you can find me on Twitter as <a href="https://twitter.com/anakbns">@anakbns</a>.
  </h2>
</div>
