<% content_for :meta_title, 'About Ana Nunes da Silva' %>
<% content_for :meta_description, "I'm a web developer mostly working with Ruby on Rails" %>
<% content_for :meta_keywords, 'ruby on rails, female developers, rails girls, web developer, programmer blog, programming, tdd, tech blog, clean code, performant code' %>
<% content_for :meta_image, url_for("ana_nunes_da_silva_web_developer_ruby_rails.jpg") %>

<article class="lg:m-auto lg:w-3/4">
  <h1 class="px-10 my-8 font-bold leading-tight tracking-tighter text-black dark:text-gray-50 lg:px-0 text-8xl lg:text-4xl">About</h1>

  <div class="mb-20 text-5xl subpixel-antialiased font-normal leading-relaxed lg:text-lg">
    <div class="float-right pb-16 lg:w-100 lg:w-1/3">
      <%= image_tag("ana_nunes_da_silva_web_developer_ruby_rails.jpg", alt: "Ana Nunes da Silva - web developer", class: "rounded-lg") %>
    </div>
    <div class="text-left sm:mx-auto lg:mx-0 sm:container lg:px-0 lg:w-2/3">
      <p class="py-2 lg:mr-16">I'm a web developer mostly working with Ruby on Rails.</p>

      <p class="py-2 lg:mr-16">I'm currently helping companies build their own online training academies, at <a href="https://trybugle.com" target="_blank" class="underline">bugle</a>.

      <p class="py-2 lg:mr-16">Before making a career switch to programming, I graduated in business management and accepted a few business roles in digital/tech companies.</p>

      <p class="py-2 lg:mr-16">TDD, clean and performant code are some of my favourite topics and I like to discuss them at work, on
        <a href="https://twitter.com/anakbns" target="_blank" class="underline">Twitter</a>
        and through <a href="/posts" class="underline">writing</a>.</p>

      <p class="py-2 lg:mr-16">You can also find some of my code on <a href="https://github.com/anansilva" target="_blank" class="underline">GitHub</a>.</p>

      <p class="py-2 lg:mr-16">Ocasionally I'm asked to share a bit of my career change process.
      If you're considering or are already in the process of making a switch to programming and would like to talk,
      feel free to <a href="mailto:ananunesdasilva@gmail.com" target="_blank" class="underline">email</a> me.
      You can also reach me on <a href="https://linkedin.com/in/anans" target="_blank" class="underline">Linkedin</a>.
      </p>
    </div>
  </div>
</article>
