.footer-icon {
  display: inline-block;
}

.footer-icon:not(:last-child) {
  padding-right: 20px;
}

.svg-share-post {
  width: 2.5rem;
  fill: rgb(67, 56, 202);
}

.svg-share-post_intro {
  width: 1.75rem;
  fill: rgb(67, 56, 202);
}
