@media screen and (min-width: 1024px) {
  .post-intro {
    margin-top: -8rem;
  }

  pre.hljs {
    font-size: 16px;
  }

  #post-body h1 {
    font-size: 28px;
  }

  #post-body h2 {
    font-size: 1.5rem;
  }

  #post-body h3 {
    font-size: 1.25rem;
  }
}

h2 code {
  padding-left: 0.175rem;
  padding-right: 0.175rem;
  border-radius: 0.125rem;
  --tw-text-opacity: 1;
  color: rgba(219, 39, 119, var(--tw-text-opacity));
}

h3 code {
  padding-left: 0.175rem;
  padding-right: 0.175rem;
  border-radius: 0.125rem;
  --tw-text-opacity: 1;
  color: rgba(219, 39, 119, var(--tw-text-opacity));
}

pre.hljs {
  background-color: #282828;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;;
  code.plaintext {
    .hljs-keyword {
      color: #abb2bf;
    }
  }
}

#post-body p {
  margin-bottom: 1.5rem;;
}

#post-body h1 {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1.5rem;;
}

#post-body h2 {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1.5rem;;
}

#post-body h3 {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1.5rem;;
}

#post-body blockquote {
  --tw-bg-opacity: 1;
  border-left: 4px solid rgba(156, 163, 175, var(--tw-bg-opacity));
  padding-right: 0.125rem;
}

#post-body blockquote p {
  padding-left: 1.125rem;
}

#post-body p code {
  padding-left: 0.175rem;
  padding-right: 0.175rem;
  border-radius: 0.125rem;
  --tw-text-opacity: 1;
  color: rgba(219, 39, 119, var(--tw-text-opacity));
}

#post-body ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#post-body a {
  text-decoration: underline;
}

#post-body #newsletter-btn {
  text-decoration: none;
}

#post-body {
  table {
    display: block;
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 1.5rem;;
    border-radius: 0.125rem;
  }

  th {
    text-align: left;
    border: 1px solid #abb2bf;
    padding: 0.75rem;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  td {
    display: table-cell;;
    border: 1px solid #abb2bf;
    padding: 0.75rem;
  }
}

